body {
	font-size: 10px;
	font-family: tahoma;
	color: #333;
}

h1 {
	margin: 10px 20px 10px 20px;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 150px;
	width: 101.5%;
	margin-left: -1%;
}

.corpo {
	background: #EDEEF0;
	width: 280px;
}

input {
	padding: 11px 20px;  
	margin: 8px 0;
	box-sizing: border-box;
	background: #fff;
	width: 100%;
}

.ui-inputfield {
	padding: 12px 20px;
	border: none;
	font-size: 14px;
	box-sizing: border-box;
	background-color: #ffffff;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	box-shadow: inset 0 2px 2px #fff;
}

.botao {
	background: #003363;
	color: #ffffff;
	font-size: 15px;
	width: 100%; border : none;
	font-weight: bold;
	border: none;   
}

.ui-grid {
	clear: both;
	padding: 0;
	margin: 0;
	border: none;
}

.ui-widget-content {
	width:90%;
    border:none;
    background:transparent;  
    color: #362b36;
}

.botaoCadastro {
	background:#a0c637;
	float:right;
	width:45%;
	font-size:14px;  
	color: #ffffff; 
	border : none;  
	font-weight: bold;
	border: none;   
}
.botaoCancelar {
	background:#de0400;
	width:45%;
	font-size:14px; 
	color: #ffffff; 
	border : none;
	font-weight: bold;
	border: none;   
}